/.SmallUMLRuntimeModule.java._trace
/.SmallUMLStandaloneSetup.java._trace
/.SmallUMLRuntimeModule.xtendbin
/.SmallUMLStandaloneSetup.xtendbin
/SmallUMLRuntimeModule.java
/SmallUMLStandaloneSetup.java
